.search_bar {
  display: flex;
  position: relative;
  padding: 0 10px;
  top: -28px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  height: 56px;
  z-index: 5;

  input {
    border: none;
    display: block;
    padding: 20px 15px 20px 35px;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 0.9em;
    // border-right: 1px solid rgb(158, 175, 194);
    &::placeholder {
      font-size: 0.9em;
      opacity: 0.75;
    }
  }
  &_container {
    width: 100%;
    display: flex;

    div {
      position: relative;
      padding: 0.5vw;
      .icon {
        position: absolute;
        top: 40%;
        display: block;
        margin: 0 10px;
        width: 15px;
        img {
          width: 100%;
        }
      }
    }

    &_position {
      flex: 0.45;
      border-right: 1px solid rgb(158, 175, 194);
    }
    &_location {
      flex: 0.45;
      border-right: 1px solid rgb(158, 175, 194);
    }
    &_type {
      input {
        width: 15px;
        background: #3d5d7c;
        display: block;
        margin: 5px;
      }

      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: $TextFont;
      font-size: 12px;
      font-weight: bold;
      flex: 0.1;
    }
    &_button {
      display: flex;
      align-items: center;
      flex: 0.1;
      button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 18px;
        transition: 0.2s ease all;
        font-size: 16px;
        outline: none;
        border: 1px solid #0fb45a;

        &:hover {
          background: #6767d1;
          color: #fff;
          cursor: pointer;
          outline: none;
          border: none;
        }
      }
      div.search-icon {
        display: none;
      }
    }
  }
}

.search_bar.dark {
  background: #19212e;
  input {
    background: #19212e;
    color: #f7f7f7;
    caret-color: #fff;
  }
  button span {
    color: #fff;
  }
  button:hover {
    background: #0fb45a;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cdcdce;
    opacity: 1; /* Firefox */
  }
}

@media screen and (max-width: 768px) {
  div.search-icon {
    display: block;
  }
  .search_bar_container_button {
    div.search-icon {
      display: block;
    }
    button {
      border: 0px solid rgb(155, 32, 32);
      display: none;
    }
  }
}
