@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&family=Noto+Sans&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
$HeadingFont: "Lato", sans-serif;
$TextFont: "Noto Sans", sans-serif;

@import "header";
@import "home";
@import "searchBar";
@import "jobListing";
