@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* CSS rules to specify families */
/* CSS rules to specify families */
* {
  transition: 200ms all ease-in;
}
.app {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .header {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
} */
.app__goback {
  color: #fff;
  background-color: #f80f55;
  display: flex;
  height: 40px;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.app__goback__span {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1rem;
}

.episode {
  display: flex;
  width: 350px;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* box-shadow: 0px, 0px, 30px 0px rgba(51, 51, 51, 0.1); */
  border-radius: 18px;
  margin: 10px;
}
.episode:hover {
  box-shadow: 0px 15px 30px rgba(51, 51, 51, 0.1);
  border: none;
  cursor: pointer;
}
.episode__title {
  color: #09044b;
  font-weight: bolder;
}
.episode__summary {
  font-weight: 300;
  color: #474747;
}
.episode__details {
  flex: 0.5;
}
.episode__image img {
  width: 100%;
  height: 225px;
  object-fit: contain;
}
.episode__buttons {
  display: flex;
  justify-content: space-around;
}
.episode__button {
  width: 160px;
  outline: none;
  display: block;
  border: none;
  font-weight: 400;
  cursor: pointer;
  border-radius: 8px;
  padding: 0 4px;
  text-align: center;
  font-size: 18px;
  /* height: 40px; */
  color: white;
}
.episode__link {
  width: 150px;
  outline: none;
  display: block;
  border: none;
  font-weight: 400;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #27ae60;
  color: #27ae60;
}
.episode__button--watch {
  /* background-color: #27ae60; */
}
.episode__button--favorite {
  background-color: #2d9cdb;
}
.disabled {
  background-color: #8ebdd8;
}
.header {
  top: 0em;
  /* background-color: gray; */
  left: 0em;
  display: flex;
  z-index: 1;
  max-width: 100%;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: 0.6s;
  padding: 0px 30px;
}
.sticky {
  position: fixed;
  width: 95vw;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
}
.header__favourites {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-evenly;
}
.header__title {
  color: rgb(14, 83, 231);
  font-size: 1.7rem;
  font-weight: 500;
}
.header__icon {
  color: #d82259;
}
.header__count {
  font-size: 2rem;
}
.episode__button--favorite--delete {
  background-color: #ad3612;
}
